  <% @sender = User.find(message.user_id)  %>
<% if message.user_id.to_i === current_user.id %>
  <div class='m-card-mob shadow-sm current_user-main  current-user-msg '>
    <div class='current_user'>
      <small class='text-primary'>  <%=  @sender.first_name.capitalize %> </small>
      <p> <%= message.body %> </p>
    </div>
  </div>
<% end %>
<%   if message.user_id.to_i != current_user.id %>
  <div class='m-card-mob shadow-sm receive-user-msg'>
    <div class='receive_user'>
      <small> <%=  @sender.first_name %> </small>
      <p> <%= message.body %> </p>
    </div>
  </div>
<% end %>
