<div class='message-page'>
  <h3 class='text-center py-2'> Inbox </h3>
  <div class='messages-inbox'>
    <% @inbox.each do |msg| %>
      <%= render 'chats/chat',  chat: msg %>
    <% end %>
  </div>
</div>
