<div class='otp-welcome w-100 h-100 '>
  <h3 class='mb-3 otp-heading' > Confirm Your Phone Number  </h3>
  <%= form_with(url: welcome_path, class: 'otp-form shadow p-3' ) do |f| %>
    <div class=" mb-3">
      <%= f.number_field(:confirmation_code,   {class:'form-control text-center', placeholder: 'X X X X', maxlength: 4 })    %>
    </div>
    <div class="mb-3">
      <%= f.submit "Verify", disable_with: 'Verifying...', class: 'w-100 otp-btn btn' %>
    </div>
  <% end %>
</div>
