<% if flash[:notice] %>
  <div class="alert alert-info text-center mt-4 py-1" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-warning text-center mt-4 py-1" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>
