<div data-controller="index">
  <section>
    <div id="map" data-long-value="<%= @logLan[0].to_s unless @logLan.nil?  %>" data-lang-value="<%= @logLan[1].to_s unless @logLan.nil?  %>">
    </div>
  </section>
</div>
