<div data-controller="main" data-main-wrap-value="<%= @logData%>">
  <section>
    <div id="map" >
    </div>
  </section>
  <section>
    <div>
      <button> Messages </button>
    </div>
    <div>
      <%= link_to 'profile', profile_path %>
    </div>
    <div>
      <button> Buy us coffee </button>
    </div>
    <div>
      <button> Contact Admin </button>
    </div>
  </section>
</div>
