/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
  *= require font-awesome
 */
/* 
body {
	width: 100vh;
	height: 100vh;
} */

* {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--auth-btn-color: #10650a;
	--primary-text: #1e2022;
	--sec-text: #77838f;
}

.main-page {
	background-color: white;
	height: 100vh;
	width: 100vw;
}

.map-section {
	height: 60%;
	position: relative;
}

.main-page-index {
	width: 100%;
	height: 100%;
}

#map {
	width: 100%;

	height: 100%;
}

.main-page {
	padding: 0 2%;
}

.user-avatar {
	max-width: 100px;
	width: 100%;
}

.form-floating > .form-control,
.form-floating > .form-select {
	height: 2.5rem;
	padding: 0;
}

.new-label {
	font-size: 0.8rem;
}

.signup-btn {
	background-color: #219aff;
	color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* signup form  */

.sign-up-form {
	width: 100%;
	padding: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.sign-up-form form {
	width: 100%;
	height: 100%;
}

.signup-btn {
	background-color: var(--auth-btn-color);
}

.chat-text {
	font-size: 0.6rem;
}

.active-link {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.781);
	font-size: 0.8rem;
	font-weight: 600;
}

/* welcome page style  */

.inner-nav {
	display: grid;
	height: 40%;
	grid-template-columns: repeat(auto-fill, minmax(auto, 48%));
	padding: 20px 0;
	justify-content: space-between;
	gap: 2%;
}

.nav-card {
	width: 100%;
	height: 120px;
	border-radius: 10px;
	text-decoration: none;
}
.nav-card:nth-child(1) {
	background-color: #ff9500;
}
.nav-card:nth-child(2) {
	background-color: #4ce5b1;
}
.nav-card:nth-child(3) {
	background-color: #ff2d55;
}
.nav-card:nth-child(4) {
	background-color: #219aff;
}

.nav-card div p {
	text-decoration: none;
	color: white;
	font-size: 1rem;
}
.nav-card div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 2% 10%;
}
.nav-card div i {
	font-size: 1.5rem;
	color: white;
}

.nav-card p {
	text-align: center;
	font-size: 1.4rem;
	color: white;
	font-weight: 600;
}

/* inbox styling  */

.message-page {
	width: 100%;
	height: 100%;
}

.messages-inbox {
	padding: 2% 5%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 100%;
}

.message-card {
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
}

.msg-logo {
	width: 100%;
	height: 100%;
	display: inline-block;
	overflow: hidden;
	background-color: khaki;
	flex: 1;
}

.msg-body {
	line-height: 12px;
	flex: 5;
	align-self: center;
	padding-left: 5%;
}

.msg-body p {
	font-size: 1rem;
	color: var(--primary-text);
	margin: 0;
}
.msg-body small {
	font-size: 0.6rem;
	color: var(--sec-text);
	overflow: hidden;
}

.time {
	font-size: 0.5rem;
	align-self: flex-end;
	margin: 0;
	color: var(--sec-text);
	flex: 1;
}

/* in chat styling   */

.m-card-mob {
	width: 75%;
	display: flex;
	border: 1px solid rgba(128, 128, 128, 0.13);
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 12px;
	position: relative;
}

.current_user {
	width: 100%;
	text-align: right;
}
.current_user p {
	margin-bottom: 0;
	font-size: 0.7rem;
}
.current_user small {
	font-size: 0.5rem;
}
.receive_user small {
	font-size: 0.5rem;
}

.receive_user p {
	margin-bottom: 0;
	font-size: 0.7rem;
}

.chat-page {
	max-width: 500px;
	width: 100%;
	margin: auto;
	height: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 5%;
}

.m-in-chat {
	padding-top: 10px;
	overflow-y: scroll;
	height: 93%;
	padding: 0 5%;
	display: flex;
	flex-direction: column;
}

.chatform {
	max-width: 400px;
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0;
}

.send-btn i {
	font-size: 1.2rem;
	color: var(--auth-btn-color);
}

.current-user-msg {
	align-self: flex-end;
}

.donation-map-logo {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.map-info-card {
	display: flex;
}

.map-in-details {
	display: flex;
	gap: 10px;
}

.donate-btn,
.donate-chat-btn {
	text-decoration: none;
}
